/**************Glamor**************/

.glamore div h1 {
	position: relative;
	margin: 0 auto;
	width: 80%;
	padding: 5px 0;
	margin-top: 2.8em;
	font-size: 3.2em;
	text-align: center;
}

.glamore div h2 {
	padding: 8px;
	border-bottom: 2px solid rgb(0,0,0);
	font-size: 2.4em;
	background: rgb(180,200,255);
}

.glamore div li {
	list-style: square;
	font-size: 1.5em;	
}

.wilson-quote {
	width: 60%;
	padding: 5px;
	background: rgb(200,200,200);
	box-shadow: 4px 4px 0 rgb(0,0,0);
	font-size: 1.2em;
	display: block;
	position: relative;
	margin: 0 auto;
}